* {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.text-justify {
    text-align: justify;
}

.pb-inside-avoid {
    page-break-inside: avoid;
}

#app {
    background-color: #525659;
}

@media print {
    @page {
        size: A4;
        margin: 3rem 0 3rem 0;
    }

    @page :first {
        margin-top: 0;
    }
}
